.menu {
  width: 600px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 15px;
  padding-bottom: 10px;
}

.pWrapper {
  display: inline-block;
  text-align: left;
  margin: auto;
  width: 400px;
}

.menu-button {
  width: 300px;
  height: 75px;
  margin: 10px auto;
  border: 2px solid #000000;
  box-shadow: 2px 5px #888888;
}

.menu-button h2 {
  margin-top: 5px;
  margin-bottom: 0px;
}

.menu-button p {
  margin-top: 0px;
}

.menu-button:hover {
  background-color: #00F000;
}

.menu-button:active {
  box-shadow: 1px 3px #444444;
  transform: translateY(2px) translateX(1px);
}
