.timedWrapper {
  width: 80%;
  max-width: 800px;
  height: auto;
  margin: 3.5em 10%;
  margin-bottom: 4.5em;
  align-items: center;
  text-align: center;
}

.wordBox {
  width: 95%;
}

.timedMenu {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.timedWordMenu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.timedMenuCheckbox {
  flex-basis: calc(90%);
  padding: 0;
  margin: -2% 0;
}

.timedMenuButton {
  flex-basis: calc(90%);
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: #000000;
}
