.navbar {
  width: 100%;
  background-color: #000000;
  color: #FFFFFF;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerLink {
  text-decoration: none;
  border-left: 1px solid #FFFFFF;
  color: #FFFFFF;
  padding: 0px 5px;
}

.firstLink {
  border-left: none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 500px) {

  .desktop {
    display: none;
  }

  .mobile {
    display: flex;
    justify-content: space-between;
  }

  .mobileNavLeftWrapper {
    display: flex;
    align-items: center;
  }

  .hamburger {
    position: relative;
    display: inline-block;
    width: 1.25em;
    height: 0.8em;
    margin-right: 0.8em;
    border-top: 0.2em solid #FFFFFF;
    border-bottom: 0.2em solid #FFFFFF;
  }

  .hamburger:before {
      content: "";
      position: absolute;
      top: 0.3em;
      left: 0px;
      width: 100%;
      border-top: 0.2em solid #FFFFFF;
  }

  .hamburger:focus {
    outline: none;
  }

  .hamburgerDropdown {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    z-index: 1;
    right: -0.8em;
    top: 1.85em;

  }

  .dropdownLink {
    background-color: #000000;
    border: 1px solid #FFFFFF;
    width: 8em;
    padding: 10px;
  }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 500px) {
  .mobile {
    display: none;
  }

}
