.wrapper {
  width: 600px;
  margin: auto;
  text-align: center
}

.float-left {
  float: left;
  margin: auto;
}

.float-right {
  float: right;
  margin: auto;
}

.word-list{
  list-style: none;
}

.word{
  border: 0px solid #000000;
  margin: 5px 0px;
  padding-left: 50px;
  text-align: left;
}
