.sight-words-menu {
  width: 600px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 15px;
  padding-bottom: 10px;
  overflow: auto;
}

.word-session-container {
  width: 600px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
}

.word-box-wrapper {
    width: 600;
    margin: auto;
    margin-bottom: 10px;
    padding: 100px 0px;
    text-align: center;
    border-radius: 15px;
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.word-box {
    width: 300;
    margin: auto;
    margin-bottom: 50px;
    border-radius: 15px;
    font-size: 25px;
    overflow: auto;
    flex: 1 0 100%;

}

.word-box-button {
  min-width: 50px;
  height: 80px;
  margin: 10px 2px;
  border: 2px solid #000000;
  box-shadow: 2px 5px #888888;
  flex: 0 0 19%;
  align-self: flex-start;
}

.word-box-button h2 {
  margin: 10px auto;
}

.word-box-button:hover {
  background-color: #DDDDDD;
}

.word-box-button:active {
  box-shadow: 1px 3px #444444;
  transform: translateY(2px) translateX(1px);
}

.list-button-small {
  width: 140px;
  height: 40px;
  margin: 10px auto;
  border: 2px solid #000000;
  box-shadow: 2px 5px #888888;
}

.small-button-wrapper {
  width: 320px;
  margin: auto;
  display: flex;

}

.list-button-small-left {
  width: 150px;
  height: 40px;
  margin: 10px auto;
  border: 2px solid #000000;
  box-shadow: 2px 5px #888888;
  flex: 0 0 45%;
  align-self: flex-start;
}

.list-button-small-left:hover {
  background-color: #DDDDDD;
}

.list-button-small-left:active {
  box-shadow: 1px 3px #444444;
  transform: translateY(2px) translateX(1px);
}

.list-button-small-left h2 {
  margin: 5px;
}

.list-button-small-right {
  width: 150px;
  height: 40px;
  margin: 10px auto;
  border: 2px solid #000000;
  box-shadow: 2px 5px #888888;
  flex: 0 0 45%;
  align-self: flex-end;
}

.list-button-small-right h2 {
  margin: 5px;
}

.list-button-small-right:hover {
  background-color: #DDDDDD;
}

.list-button-small-right:active {
  box-shadow: 1px 3px #444444;
  transform: translateY(2px) translateX(1px);
}

.list-button {
  width: 300px;
  height: 75px;
  margin: 10px auto;
  border: 2px solid #000000;
  box-shadow: 2px 5px #888888;
}

.true {
  background-color: #AAFFD1;
}

.list-button:hover {
  background-color: #DDDDDD;
}

.list-button:active {
  box-shadow: 1px 3px #444444;
  transform: translateY(2px) translateX(1px);
}
